* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 85px;
  /*font-size: 10px; 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting*/
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: 'Rubik', sans-serif;
  line-height: 1;
  font-weight: 400;
  background-color: #000;
  color: #fff;
  overflow-x: hidden;
}

.container {
  /*1920px * 16 = 120*/
  /*with:auto; or
  max-width:120rem*/
  /* padding: 0 3.2rem; 
  margin: 0 auto; */
}

.grid {
  display: grid;
  /* column-gap: 6.4rem;
  row-gap: 9.6rem; 
  align-items: center;*/  
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.heading-tertiary {
  font-size: 3.1rem;
  line-height: 1.4;
  margin-bottom: 1.6rem;
  text-transform: uppercase;
}