/*rem and fo not depend on html font-size in media queries!
Insted, 1rem = 1em = 16px */
/**BELOW 1344px (smller desktop)**/
@media(max-width:84em){
.step-img-box {
    height: 90vh;
  }
}

/**BELOW 1200px (Landscape Tablest)**/
@media(max-width:75em) {
  html{
    font-size:9px;
  }

}

/**BELOW 944px (Tablest)**/
@media(max-width:59em) {
  html {
    /* 8px / 16px =0.5 =50%*/
    font-size: 50%;
  }

  .header {
    padding: 0 2rem;
  }

  .hero{
    grid-template-columns: 1fr;
  }



  .hero-img-box{
    height: 85vh;
  } 
  .hero-text-box {
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2.9rem;
  } 
  .grid--4-cols{
    grid-template-columns: repeat(2, 1fr);
  }

  .exp-img{
    display: block;
    height: 500px;
    position: relative;
  }

  /*MOBILE NAVIGATION*/

  .header{
    height: 8rem;
  }
  .btn-mobile-nav{
    display: block;
  }

  .main-nav{
    background: rgb(255, 255, 255,0.97);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;

    /*hide it visually*/
    opacity: 0;

    /*make it unaccesible to mouse and keyboard*/
    pointer-events: none;

    /*hide it from screen readers*/
    visibility: hidden;
  }

  .nav-open .main-nav{
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
      display: none;
  }
  .main-nav-list{
    flex-direction: column;
    gap: 16rem;
  }
  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 5rem;
  }
}
/*BELOW 704px(Smaller tablets)*/
@media(max-width:44em) {
  /* .step-img-box {
    height: 90vh;
  } */

  .step-text-box {
    margin: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .step-description{
    font-size: 16px;
    padding: 30px 0;
    line-height: 1.8;
    font-weight: 200;
  }

  .step-link a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
  }
  .exp-content
  {
    font-size: 16px;
    font-weight: 600;
  }

  .exp-link {
    font-size: 20px;
  }
  .footer-credit{
    font-size: 18px;
    font-weight: 100;
    padding:12px 0;
  }
}

/*BELOW 544px(Phones)*/
@media(max-width:34em) {

  .hero-img-box {
    height: 45vh;
  }
  .hero-text-box{
    height:50vh;
  }

  .grid--2-cols,
  .grid--3-cols,
  .grid--4-cols{
    grid-template-columns: 1fr;
  }

  .step-img-box:nth-child(2){
    grid-row: 1;
  }
  .step-img-box:nth-child(6) {
    grid-row: 5;
  }

  .exp-img{
    height:380px;
  }

  .step-img-box{
    height: 300px;
  }
  .step-text-box{
    /*height:300px;*/
    
    margin:20px 30px;
  }

  .heading-tertiary{
    text-decoration: uppercase;
    font-size:28px;
    }
  .step-description{
    font-size:15px;
    line-height: 1.8;
  }
}
